font-family = 'Source Sans Pro', sans-serif
font-size1 = 14px
font-color1 = #B3B3B3
menu-background-color =  #040404
background-main = linear-gradient(180deg, rgba(187,151,81,1) 10%, rgba(18,18,18,1) 60%)
footer-color = #282828